body {
  background-color: white;
}

header, footer {
  background-color: #FD525B;
  padding: 10px;
  font-weight: bolder;
  color: white;
  font-size: 50px;
  box-shadow: 0px 0px 10px #FD525B;
}

#barraNav{
  margin-top: 5px;
}

#barraNav a{
  color: #FF7052;
}

#barraNav a:hover{
  background-color: transparent;
  text-shadow: 0px 0px 10px #FF7052;
}

.logo{
  float: left;
  padding-right: 10px;
  padding-left: 5px;
  background-color: #E63C44;
  border-radius: 0px 30px 30px 0px;
  border: 5px solid #FB4750;
}

footer, .separador{
  clear: both;
  display: block;
}

footer{
  bottom: 0px;
}

.central{
  min-height: 400px;
  padding-top: 100px;
  background-color: white;
}

.tabla {
  width: initial;
  display: inline-block;
  border: 5px solid black;
  padding: 0px;
  border-radius: 95px 95px 0px 0px;
}

.fila {
  position: relative;
  display: table-row;
}

.fila input{
  width: 80px;
  margin: 1px;
  color: white;
  display: table-cell;
  font-size: 60px;
  background-color: #076324;
  border: 5px solid black;
}

.fila input:hover{
  text-shadow: 0px 0px 10px white;
}

.ofertas{
  padding-top: 100px;
}

.ofertas img{
  width: 100%;
}

.ofertas p, .articulo p{
  text-align: center;
  color: #FF7052;
}

.central h1{
  display: block;
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  color: red;
  text-align: center;
}

.ofertas header, .central h1{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.ofertas header{
  background-color: red;
}

.articulo img{
  width: 100%;
}

.contenido{
  border-style: dashed;
  border-radius: 50px;
  border-color: black;
  margin-top: 50px;
  overflow: hidden;
  background-color: black;
  opacity: 0.8;
}
.ultimo{
  float: left;
  width: 78%;
}
.catalogo a:hover{
  font-weight: bold;
}

.catalogo{
  color: black;
}
.catalogo td{
  font-size: 20px;
  border: 3px dotted black;
  padding: 20px;
}

.catalogo table	{
  margin-left: 300px;
  background-color: white;
  margin-bottom: 100px;
}

.catalogo a{
  color: red;
  text-decoration: inherit;
}
