body {
  background-color: white;
}

header, footer {
  background-color: #FD525B;
  padding: 10px;
  font-weight: bolder;
  color: white;
  font-size: 50px;
  box-shadow: 0px 0px 10px #FD525B;
}

#barraNav{
  margin-top: 5px;
}

#barraNav a{
  color: #FF7052;
}

#barraNav a:hover{
  background-color: transparent;
  text-shadow: 0px 0px 10px #FF7052;
}

.logo{
  float: left;
  padding-right: 10px;
  padding-left: 5px;
  background-color: #E63C44;
  border-radius: 0px 30px 30px 0px;
  border: 5px solid #FB4750;
}

footer, .separador{
  clear: both;
  display: block;
}

footer{
  bottom: 0px;
}

.central{
  min-height: 400px;
}

.tabla {
  width: initial;
  display: inline-block;
  border: 5px solid black;
  padding: 0px;
  border-radius: 95px 95px 0px 0px;
}

.fila {
  position: relative;
  display: table-row;
}

.fila input{
  width: 80px;
  margin: 1px;
  color: white;
  display: table-cell;
  font-size: 60px;
  background-color: #076324;
  border: 5px solid black;
}

.fila input:hover{
  text-shadow: 0px 0px 10px white;
}
